body {
    font: 14px "Playfair Display", serif, "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.2rem;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fafaf5;
}

.table td {
    font-size: 1rem;
}

.table {
    overflow-x: auto;
}

.card {
    animation-delay: .3s;
}

.source {
    position: absolute;
    top: 500px;
    right: 20px;
    width: 160px;
    height: 160px;
    background: rgba(156, 116, 62, .9);
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.source div {
    padding-top: 35%;
}

.foodsafty {
    padding-left: 0;
    padding-right: 0;
}

.foodsafty .stripe {
    top: 0;
    height: 600px;
    grid: repeat(2, 200px)/1fr minmax(0, 1000px) 1fr;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    background: linear-gradient(90deg, #4dc076, #b3e895);
    position: absolute;
    z-index: -1;
    width: 100%;
    display: grid;
    transform: skewY(-12deg);
    animation-delay: .2s;
}

.foodsafty .stripe:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: linear-gradient(90deg, #b6e3a8, #dbf0af);

}

.foodsafty .section-heading,
.foodsafty .search {
    background-color: #fafaf5;
}

.foodsafty .section-heading h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #9c743e;
}

.foodsafty .section-heading h1:before {
    margin-right: 10px;
}

.foodsafty .section-heading h1:after {
    margin-left: 10px;
}

.foodsafty .section-heading h1:before,
.foodsafty .section-heading h1:after {
    content: "";
    display: inline-block;
    border: 2px solid #9c743e;
    width: 30px;
}

.foodsafty .section-heading img {
    padding: 1.5rem;
    margin: 0 auto;
}

.foodsafty .fs_option {
    position: relative;
    min-height: 70px;
    /*min-width: 150px;*/
    width: calc(100% / 4);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.55s ease-out;
    transition: all 0.5s ease-out;
    border: none;
    background: #faffbd;
}

/*.fs_option::before,*/
/*.fs_option::after {*/
/*position: absolute;*/
/*content: '';*/
/*opacity: 1;*/
/*transition: opacity 0.45s, transform 0.45s;*/
/*}*/

/*.fs_option::before {*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*border-top: 3px solid #7aa374;*/
/*border-bottom: 3px solid #7aa374;*/
/*!*border-top: 3px solid #2BBBAD;*!*/
/*!*border-bottom: 3px solid #2BBBAD;*!*/
/*-webkit-transform: scale(0, 1);*/
/*transform: scale(0, 1);*/
/*-webkit-transform-origin: 0 0;*/
/*transform-origin: 0 0;*/
/*}*/

/*.fs_option::after {*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*border-right: 3px solid #7aa374;*/
/*border-left: 3px solid #7aa374;*/
/*-webkit-transform: scale(1, 0);*/
/*transform: scale(1, 0);*/
/*-webkit-transform-origin: 100% 0;*/
/*transform-origin: 100% 0;*/
/*transition-delay: 0.1s;*/
/*}*/
.fs_option:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.55s ease-out;
    transition: all 0.5s ease-out;
    background: #7aa374;
    background-image: linear-gradient(to right, #19b5c1, #28c88c);
}

/*.fs_option:hover::before,*/
/*.fs_option:hover::after {*/
    /*opacity: 1;*/
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
/*}*/

.fs_option.option_selected,
.fs_option.option_selected:focus,
.fs_option.option_selected:hover {
    background: #7aa374;
    color: #fff;
    background: linear-gradient(90deg, #19b5c1, #28c88c);
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

input::placeholder {
    color: #c3c3c3;
    font-size: 1.5rem;
}

input[placeholder]:focus {
    /*font-size: 0.8rem;*/
}

input[type=text] {
    height: 3rem;
    border-bottom: 1px solid #ccc;
    font-size: 3rem;
}

.selected-names {
    background: #afc9c9;
}

.hidden {
    display: none;
}

.err_msg {
    color: #7aa374;
    font-size: 1rem;
    margin-top: .5rem;
}

.search_input {
    background-color: rgba(255, 255, 255, 0.5);
}

.flexsearch_submit {
    position: absolute;
    right: 12px;
    top: 0;
    border: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
}


/*Footable*/
.footable-header > th {
    background: #000000;
    color: white;
}

.footable-page-link {
    border-radius: 2px;
    border: 0;
    margin-left: 0;
    transition: all .3s linear;
    position: relative;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    line-height: 1.25;
    background-color: #fff;
    overflow: hidden;
    display: block;
    padding: .5rem .75rem;
    color: black;
}

.footable-page-link:hover {
    background: #eceeef;
    color: black;
}

.footable-page.active a {
    background: #eceeef;
}

.nanobar {
    width: 100%;
    height: 4px;
    z-index: 9999;
    top: 0
}

.bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    background: #000;
}

@media only screen and (max-device-width: 768px) {

    h5 {
        font-size: .9rem;
    }

    .source {
        bottom: -15px;
        right: 0;
        width: 140px;
        height: 140px;
    }
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .table td, .table th {
        font-size: 0.8rem;
    }

    .source {
        display: none;
    }

    .foodsafty .section-heading h1:before,
    .foodsafty .section-heading h1:after {
        display: none;
    }

    input::placeholder {
        font-size: 0.6rem;
    }

    input[type=search] {
        font-size: 1.5rem;
    }

    .foodsafty .fs_option {
        min-height: 50px;
        min-width: 120px;
    }

    table.footable > tbody > tr.footable-empty > td {
        font-size: 0.8rem;
    }
}